/source/nytprof.out
/source/nytprof
/source/temp
*_flymake.*
/source/lib/App/Pebble/Plugin/Parser/Dynamite.pm
/source/example
/source/App-Pebble-*
/source/lib/App/Pebble/Plugin/Source/Dynamite.pm
/source/lib/App/Pebble/Plugin/Source/Ion.pm
/source/lib/App/Pebble/Plugin/Source/Pips.pm
